**/.git
**/.vs
**/.idea
**/bin
**/obj
**/TestResults
**/artifacts
**/nupkg
**/_local
**/*.user
**/*.suo
**/.env
**/appsettings.*.local.json
**/hints/disabled.local.json
**/data/disabled.local.json
**/BenchmarkDotNet.Artifacts
**/*.nupkg
**/*.snupkg
samples
tests
.github
docs
deploy
